.titulo {
    display: block;
    margin: auto;
    padding-left: 0px;
    width: 95%;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.font-link {
    text-decoration: none;
    color: #555;
    font-size: 20px;
}

.font-link:hover {
    color: #555
}

#area-autor{
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
    margin-bottom: 10px;    
    height: 100px;
    width: 95%;
}

.materia{
    display: block;
    margin: auto;
    padding-left: 0px;
    width: 95%;
    text-align: left;
    padding: 10px;
    border-bottom: 5px solid black;
    margin-bottom: 20px;
}

.comunidade-box {
    display: block;
    margin: auto;
    padding-left: 0px;
    width: 70%;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

.text{
    font-size: 25px;
}