.bg-dark{
    background: rgb(5,40,96) !important;
    background: linear-gradient(161deg, rgba(5,40,96,1) 0%, rgba(4,13,33,1) 50%, rgba(73,34,73,1) 100%)!important;
}

#navbg {
    background: linear-gradient(161deg, rgba(5,40,96,1) 0%, rgba(4,13, 33,1) 50%, rgba(73,34,73,1) 100%) !important;
    width: 100%;
}

.header {
    display: flex;
    height: 18vh;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}


.test {
    width: 100%;
    background: rgb(5,40,96);
    background: linear-gradient(161deg, rgba(5,40,96,1) 0%, rgba(4,13, 33,1) 50%, rgba(73,34,73,1) 100%) !important;
}

.titulo-cat {
    display: block;
    margin: auto;
    padding-left: 0px;
    width: 95%; 
    border-top-width: 2px; 
    border-top-style: solid; 
    border-top-color: black; 
    border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: black;     
}


@media only screen and (max-width:575px) {
    .header {
      display: none;
    }
    
    ul {
        margin-left: 4%;
        margin-top: 3%;
    }

    .navbar-brand {
        width: 70%;
    }

    .card {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;
    }

    #carouselExampleCaptions {
        display: none
    }
}


.nav-link {
    font-size: 150%;
    font-family: 'Bebas Neue', cursive;
}

.dropdown-item{
    font-size: 18px;
}

.card {
    background-color: transparent;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.card-text {
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
}


.card-img-top {
    border-radius: 10px;
    border-width: 4px;
    border-color: transparent;
    border-style: solid;
}

.img-principal {
    border-radius: 10px;
    width: 100%;
}

.social-media {
    margin-inline: 20px;
}

.trilha {
    width: 95%;
    margin: auto;
    padding: 0px;
}

.breadcrumb-item {
    padding-top: 12px;
}

.card-text {
    color: black;
}

#hrefcard {
    text-decoration: none;
}

#cardst {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#card:hover, #card:active {
    transition: 0.5s;
    transform: scale(1.04);
    box-shadow: 11px 9px 9px rgb(73,34,73,1);
}

#news {
    padding: 80px;
    background-color: #F7F8F9;
}

#card {
    width: 22rem; 
    height: 26rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.card-title{
    font-size: 1.3vw;
    text-align: left;
    color: #000;
    font-weight: 700;
    padding-inline: 20px;
}

.card-description {
    font-size: 1vw;
    text-align: left;
    color: #000;
    padding-inline: 20px;
}